# Composer Package Manager Related
vendor/
vendor.bak/
composer.lock
composer.phar
composer

# PHPUnit Related Files and Folders
.phpunit.result.cache
tests/config.php
phpunit.phar
phpunit.xml
coverage/
index.php
phpunit

# Files for PHP Code Sniffer
phpcs
phpcbf
phpcs.xml
phpcs.phar
phpcbf.phar

# Files for PHP Documentor
phpdoc
phpDocumentor
phpDocumentor.phar
phpdoc.phar
phpdoc.xml
output/
docs/

# IDE Related Files and Folders
.idea/
nbproject/
*.sublime-workspace
*.sublime-project

# Docker Related Files
Dockerfile
Dockerfile-tmp
Dockerfile-dev
Dockerfile-stag
Dockerfile-prod
docker-compose.yaml
docker-compose.yml
.gitlab-ci.yaml
.gitlab-ci.yml
credentials.json
requirements.json
configuration.json
credentials.txt
requirements.txt
configuration.txt
common.env
app.env
.env
build/
dist/
test/
tmp/

# Local Backup Files
*.7z
*.zip
*.tar.gz
*.tgz
*.tar
*.tmp
*.bak
*.BAK
