<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         cacheResult="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         timeoutForSmallTests="10"
         timeoutForMediumTests="30"
         timeoutForLargeTests="120"
         verbose="true">

    <!-- Change some runtime PHP settings: -->
    <php>
        <ini name="default_charset" value="UTF-8"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="log_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="report_memleaks" value="1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="max_execution_time" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <!-- Test suite name and location: -->
    <testsuite name="CryptoManana - Unit Test Suite">
        <directory suffix="Test.php">./tests/CryptoManana/Tests/TestSuite/</directory>
    </testsuite>

    <!-- Include directory paths for scanning: -->
    <filter>
        <whitelist>
            <directory>./src/CryptoManana</directory>
        </whitelist>
    </filter>

    <!-- Code coverage output formats and settings: -->
    <logging>
        <log type="coverage-html" target="coverage/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="coverage/clover.xml"/>
        <log type="junit" target="coverage/junit.xml"/>
    </logging>

</phpunit>
